@model Library_Managment.Models.create_books
@using Library_Managment.CustomHelpers

@{
    ViewBag.Title = "CreateBooks";
}


<main>
    <section class="row">
        <h4>Create Books For Libarary !!.</h4>

      
        <div class="form-horizontal">
            <h4>@Html.LabelFor(x => x.book_name)</h4>
            @Html.TextBoxFor(x => x.book_name, new { @id = "bookTitle" })

            <br />
            <br />
            <h4>@Html.LabelFor(x => x.book_description)</h4>
            <textarea id="userDescription" name="area" rows="5" cols="50" ></textarea>

            <br />

            <h4>@Html.LabelFor(x => x.created_date) </h4>
            <input type="date" id="createddate" name="Created date" />

            <br />
            <input type="button" value="Create" onclick="store()" />
        </div>
        <p id ="message"></p>
    </section>
</main>

<script>

    function store() {
        var book_title = $('#bookTitle').val();
        var book_desc = $('#userDescription').val();
        var date = $('#createddate').val();

        //console.log(date);

        var obj = {
            book_name: book_title,
            book_description : book_desc,
            created_date : date
        };
        submitForm(obj);
        //console.log(obj);
        //window.alert(obj);
    }

    function submitForm(obj) {
        $.ajax({
            url: '@Url.Action("CreateBooks", "Home")',
            method: "POST",
            data: obj,
            success: function (data) {
                $('#message').html('<div class="alert alert-success">' + data.message + '</div>');
                //console.log(data);
                //setTimeout(function () {
                //    if (data.link) {
                //        window.location.href = data.link;
                //    }
                //    else {
                //        window.location.href = '@Url.Action("Contact", "Home")';
                //    }
                //},500)

            },
            error: function (err) {
                $('#message').html('<div class="alert alert-danger">An error occurred while creating the book. Please try again.</div>');
                console.log(err);
            }
        })
    }

</script>